@model OnTapASP.Models.KhachHang 
@{
    ViewBag.Title = "NhapDuLieuKhacHang";
}

<h2>Thông tin khách hàng sau khi nhập</h2>
<p>
    Mã khách hàng: @Model.maKH
</p>
<p>
    Họ tên: @Model.hoTen
</p>
<p>
    Địa chỉ: @Model.diaChi
</p>
<p>Điện thoại: @Model.dienThoai</p>
<p>Số lần mua: @Model.soLanMua</p>
<p>Khuyến mãi: @Model.khuyenMai</p>
